
<div class="post-warp">
	<div class="intro">
    {{ with .Site.Params.avatar}}
    {{ $avatar := .}}
    <div class="avatar">
        <a href="/posts/"> <img src="{{ (printf "%s" $avatar)}}"> </a>
    </div>
    {{ end }}
    {{ with .Site.Params.subtitle}}
    <h2 class="description">
       {{ . }}
    </h2>
    {{ end }}
	{{ with .Site.Params.expect}}
    <h4 class="description">
       {{ . }}
    </h4>
    {{ end }}
	<div class="social-links">
        {{ partial "social.html" . }}
    </div>
</div>

	<!-- 获取置顶的文章 -->
	{{ $stickyPosts := where .Site.RegularPages "Params.sticky" true }}
	{{ $pages := where $stickyPosts "Draft" false }}

	<!-- 如果没有置顶的文章，则获取最新文章 -->
	{{ if eq (len $pages) 0 }}
	{{ $pages = where .Site.RegularPages "Draft" false }}
	{{ end }}

	{{ range first 3 ($pages.ByDate.Reverse) }}
	<div>
		<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
		<span>{{ .Date.Format "January 2, 2006" }}</span>
		<p>{{ .Summary }}</p>
	</div>
	{{ end }}

	

	<!-- {{ partial "paginator.html" . }} -->
</div>
