<script>
    function loadJs(url) {
        return new Promise((resolve, reject) => {
            var script = document.createElement('script');
            script.type = "text/javascript";
            if (script.readyState) {
                script.onreadystatechange = function () {
                    if (script.readyState == "loaded" || script.readyState == "complete") {
                        script.onreadystatechange = null;
                        // callback();
                        resolve()
                    }
                }
            } else {
                script.onload = function () {
                    // callback();
                    resolve()
                }
            }
            script.src = url;
            document.body.appendChild(script);
        })

    }
    function loadManyJs(arr) {
        return new Promise(async (resolve, reject) => {
            for (let i = 0; i < arr.length; i++) {
                let jsUrl = arr[i]
                try {
                    await loadJs(jsUrl)
                } catch (error) {
                    reject(error)
                }
            }
            resolve()
        })
    }

    // var currurl = encodeURIComponent(location.href.split('#')[0]);
    var currurl = location.href.split('#')[0]
    let userAgent = navigator.userAgent.toLowerCase();
    let isWeixin = userAgent.match(/MicroMessenger/i) == "micromessenger"
    let isMobile=/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
    let arr = [
        "//astyle-src.alicdn.com/app/searchweb/products/zhaohuoshenqi/lib/jquery.js",
        "//res.wx.qq.com/open/js/jweixin-1.6.0.js"
    ]
    if (isMobile) {
        alert('调试->手机')
        loadManyJs(arr).then(async () => {
            console.log('仅微信端需要执行下面的操作', currurl)
            let title = '{{ .Title }}'
            {{ if eq .Title "Posts" }}	
                title = '{{ .Site.Title }}'
            {{ end }}
            console.log('title', title)
            let desc = '{{ .Site.Params.description }}'
            let imgUrl =  {{ (printf "%s" .Site.Params.avatar)}}

            let link =  {{ (printf "%s" .Site.Params.Wechat.link)}}
            let data = await JQ.get(link, { url: currurl })
            console.log(data)
            // appId: "wx3fe50fc163d76ed1"
            // jsapi_ticket: "O3SMpm8bG7kJnF36aXbe80W2lJozwLtfQ7Dy6yk9Dg0wiMjIAkp4LCIk8h0QhKvOgOcbYTxdhHXk3hDatMKMsg"
            // nonceStr: "8c09dksi919"
            // signature: "d29afa60a114fec9eb375f1674962d4424103f9e"
            // timestamp: "1611323828"
            // url: "http://baidu.com"
            wx.config({
                debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: data.appId, // 必填，公众号的唯一标识
                timestamp: data.timestamp, // 必填，生成签名的时间戳
                nonceStr: data.nonceStr, // 必填，生成签名的随机串
                signature: data.signature,// 必填，签名
                jsApiList: ["checkJsApi", "updateAppMessageShareData", "updateTimelineShareData", "onMenuShareTimeline", "onMenuShareAppMessage", "onMenuShareQQ", "onMenuShareQZone"] // 必填，需要使用的JS接口列表
            });
  
            wx.ready(function () {
                // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
                wx.checkJsApi({
                    jsApiList: ["checkJsApi", "updateAppMessageShareData", "updateTimelineShareData", "onMenuShareTimeline", "onMenuShareAppMessage", "onMenuShareQQ", "onMenuShareQZone"], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                    success: function (res) {
                        // 以键值对的形式返回，可用的api值true，不可用为false
                        // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                        // alert(res.checkResult);
                        // alert(res.errMsg);
                    }
                });
                //自定义“分享给朋友”及“分享到QQ”按钮的分享内容（1.4.0）
                wx.updateAppMessageShareData({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: currurl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: imgUrl, // 分享图标
                    success: function () {
                        // 设置成功
                    }
                })
                //自定义“分享到朋友圈”及“分享到QQ空间”按钮的分享内容（1.4.0）
                wx.updateTimelineShareData({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: currurl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: imgUrl, // 分享图标
                    success: function () {
                        // 设置成功
                    }
                });
                //朋友圈
                wx.onMenuShareTimeline({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: currurl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: imgUrl, // 分享图标
                    success: function (res) {
                    },
                    cancel: function (res) {
                    },
                    fail: function (res) {
                        alert(JSON.stringify(res));
                    }
                });
                //朋友
                wx.onMenuShareAppMessage({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: currurl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: imgUrl, // 分享图标
                    type: '', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                //QQ
                wx.onMenuShareQQ({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: currurl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: imgUrl, // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                //QQ空间
                wx.onMenuShareQZone({
                    title: title, // 分享标题
                    desc: desc, // 分享描述
                    link: currurl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: imgUrl, // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });

            });
            wx.error(function (res) {
                // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
                console.log("初始化wx.config失败" + res)
            });
        }).catch(err => {
            console.log('load js error', err)
        })
    }


</script>